ul {
  list-style-type: none;
}

ul.horizontal {
  box-sizing: border-box;
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
}

ul.horizontal li {
  display: table-cell;
  padding: 8px;
}

ul.vertical li {
  background-color: white;
  border-radius: 50%;
  box-shadow: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

li:hover .fa-icon {
  transform: rotate(-15deg);
}

.fa-icon {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
}

.icon-container {
  max-width: 400px;
  position: relative;
  width: 100%;
}

.fa-icon-position {
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
